apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: localhost:5432
    database: mentor
    user: mentor
    editable: true
    secureJsonData:
      password: mentor
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
