**/.git
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.vsix
**/node_modules/**
**/src/**
**/.vscode-test/**
**/.nyc_output/**
**/coverage/**
**/.eslintrc.*
**/.gitignore
**/.gitattributes
**/*.map
**/*.ts
!out/**/*.js
tsconfig.json
tslint.json
.travis.yml
.github/
.vscode/
# media/ (commented out - we need this for webview assets)
package-lock.json
*.md
!README.md
CHANGELOG.md
.vscode-test/
test/
*.vsix